@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=30125,16016,16008,16022,15981,15985,16012,15994,30128,15999,30123,30130,30135,15997');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}


:root {
    --black: #000000;
    --white: #ffffff;
    --main_btn: rgb(103, 120, 227);
    --sub_btn: rgb(244, 163, 34);
    --secondary_bg: rgb(32, 45, 62);
    --play: running;
    --direction: normal;
    --duration: 25.1s;
    --delay: 0s;
    --iteration-count: infinite;
}

body {
    overflow-x: hidden;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--black);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header_logo img {
    width: 150px;
    margin-left: 20px;
}

.menu_section {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul li {
    transform: skew(339deg);
    position: relative;
    background: linear-gradient(270deg, rgb(255, 255, 255) -4.14%, rgba(241, 241, 241, 0.7) 84.48%);
    border: 0.844024px solid rgb(147, 155, 171);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
    transform: skew(-339deg);
    color: rgb(36, 36, 36);
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #6967E2;
}

.header_links {
    display: flex;
}

.header_btn {
    display: flex;
    align-items: center;
}

.whatsapp_wrapper {
    margin-right: 10px;
}

.whatsapp_wrapper img {
    width: 210px;
}

.header_btn .btn a {
    width: 80px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 14px;
    transform: skew(-340deg);
    color: var(--white);
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 100;
}

.header_btn .main_btn {
    transform: skew(340deg);
    margin-left: 10px;
    background: var(--main_btn);
    border-radius: 5px;
}


.header_btn .sub_btn {
    transform: skew(340deg);
    margin-left: 10px;
    margin-right: 10px;
    background: var(--sub_btn);
    border-radius: 5px;
}

header .app {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 14px;
    background: var(--secondary_bg);
    position: relative;
    padding-right: 10px;
}

header .app::before {
    content: "";
    width: 27px;
    height: 100%;
    position: absolute;
    left: -14px;
    background: var(--secondary_bg);
    transform: skew(-20deg);
    z-index: 2;
    border-left: 1px solid var(--white);
}

header .app img {
    width: 83px;
    z-index: 2;
}

.announcement {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 50px;
    height: 30px;
    color: rgb(240, 240, 240);
    background: rgb(0, 0, 0);
    font-size: 13px;
    border-top: 1px solid rgb(147, 155, 151);
}

.announcement_img {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    left: 18px;
    z-index: 1;
    height: 19px;
    font-size: 1.4em;
}

.marquee-container {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
}

.marquee {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.main__slider {
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main__slider img {
    height: 100%;
    width: 100%;
}

.swiper-pagination {
    background-color: var(--black);
    opacity: 0.6;
    position: absolute !important;
    bottom: 0% !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: var(--sub_btn) !important;
    height: 12px !important;
    width: 12px !important;

}

.banner_img video {
    width: 30%;
    position: absolute;
    top: 20%;
    right: 2%;
    z-index: 10;
    border-radius: 55px 0 55px 0;
}

.game__slider {
    height: 100px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.game__slider img {
    height: 150px;
    width: 100%;
}

.swiper-button-prev {
    z-index: 100;
    left: -29px !important;
    top: 21% !important;
    color: var(--white) !important;
    position: absolute !important;
    cursor: pointer;
    height: 101% !important;
    width: 157px !important;
    border: none;
    background: linear-gradient(92.92deg, rgb(111, 109, 230) 0%, rgb(84, 81, 212) 45.8%, rgb(49, 45, 185) 93.54%);
    clip-path: polygon(0px 0px, 70% 0%, 100% 100%, 0% 100%);
}

.swiper-button-next {
    z-index: 100;
    right: -29px !important;
    top: 21% !important;
    color: var(--white) !important;
    position: absolute !important;
    cursor: pointer;
    height: 101% !important;
    width: 157px !important;
    border: none;
    background: linear-gradient(92.92deg, rgb(111, 109, 230) 0%, rgb(84, 81, 212) 45.8%, rgb(49, 45, 185) 93.54%);
    clip-path: polygon(30% 0px, 0% 100%, 100% 100%, 100% 0%);
}

.game__slider .swiper-button-prev::after,
.game__slider .swiper-button-next::after {
    content: '';
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.game__slider .swiper-button-prev::after {
    background-image: url('../img/prev-arrow.png');
}

.game__slider .swiper-button-next::after {
    background-image: url('../img/next-arrow.png');
}

.demo_wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none
}

.demo_wrapper button {
    transform: skew(340deg);
    border: 1px solid rgb(203, 150, 64);
    margin-left: 10px;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(47, 50, 54) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 3px 5px 4px;
    transition: color 0.1s linear 0s;
    width: fit-content;
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
}

.demo_wrapper button:hover {
    background: #6967E2;
}

.demo_wrapper._active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_games {
    width: 100%;
    background: rgb(200, 216, 232);
    box-shadow: rgba(197, 197, 197, 0.25) 0px 10px 12px inset;
}

.top_games .container {
    padding: 5px 0 8px 0;
}

.top_games .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games_left {
    width: 85%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
    gap: 20px;
}

.games_title {
    width: 350px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 56px;
    background: var(--black);
    transform: skew(-340deg);
    border-radius: 10px;
}

.games_title::before {
    content: "";
    width: 24px;
    height: 56px;
    background: var(--black);
    transform: skew(340deg);
}

.games_title p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 20px;
    transform: skew(340deg);
}

.game_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background: var(--black);
    transform: skew(-340deg);
    border-radius: 10px;
    padding: 10px 35px;
    cursor: pointer
}

.game_item:hover {
    background: linear-gradient(92.92deg, rgb(111, 109, 230) 0%, rgb(84, 81, 212) 45.8%, rgb(49, 45, 185) 93.54%);
}

.game_item .game_wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    transform: skew(340deg);
}

.game_wrapper img {
    width: 30px;
}

.game_wrapper p {
    font-size: 13px;
    color: var(--white);
    margin: 0px;
    padding-left: 5px;
}

.games_right {
    width: 26%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: linear-gradient(rgb(72, 72, 72) 0%, rgb(7, 7, 7) 100%);
    position: relative;
    margin-left: 20px;
}

.games_right::after {
    content: "";
    width: 30px;
    height: 100%;
    background: linear-gradient(rgb(72, 72, 72) 0%, rgb(7, 7, 7) 100%);
    position: absolute;
    top: 0px;
    left: -19px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transform: skew(-340deg);
}

.games_right-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 57px;
    background-size: cover;
}

.games_right .wrapper {
    width: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.games_right .wrapper img {
    width: 27px;
    border-radius: 20px;
    cursor: pointer
}

.games_right .divider {
    width: 1px;
    height: 57px;
    background-color: var(--white);
}

.games_right p {
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.promotions {
    width: 90%;
    background: rgba(11, 9, 52, 0.95);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 40px;
    min-height: 50vh;
    height: 86vh;
    border-radius: 5px;
    margin: auto;
    padding: 20px 25px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    transition: all 700ms ease 0s;
    z-index: 99999999;
    right: -90% !important;
}

.promotions._active {
    right: 5% !important
}

.close_btn {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.promotion_header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 85%;
    margin: 20px auto;
}

.promotion_header h4 {
    font-weight: 500;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 5px 0px;
    color: rgb(255, 221, 166);
}

.promotion_header button {
    background: linear-gradient(rgb(103, 49, 227) 0%, rgb(103, 120, 227) 100%);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 19px;
    height: 50px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
}

.promotions .bonuses {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.promotions .bonuses .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.promotion_name {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    margin: 0px 0px 10px;
}

.promotions_btn {
    background: linear-gradient(79.19deg, rgb(115, 113, 232) 0%, rgb(45, 42, 187) 100%);
    padding: 5px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transform: rotate(-90deg);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    top: 50%;
    left: -72px;
}

footer {
    width: 100%;
    background-color: var(--black);
}

footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 30px 30px 10px 30px;
    box-sizing: border-box;
}

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.sponsors_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.sponsor_name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
}

.sponsors_item img {
    width: 80px;
}


.sponsors_item:last-child img {
    width: 160px;
}

.sponsors .divider {
    width: 2px;
    height: 126px;
    background: linear-gradient(rgb(230, 162, 56) 0%, rgb(253, 239, 156) 47.92%, rgb(219, 146, 26) 100%);
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.partner_item {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px
}

.partner_item:hover {
    background-color: #222222;
}

.partner_item img {
    max-width: 100px;
}

.payment_methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

footer .title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content_wrapper img {
    width: 100px;
}

.social_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.social_links .content_wrapper img {
    width: 45px;
    cursor: pointer;
}

.social_links .content_wrapper img:hover {
    border-radius: 60%;
    border: 2px solid var(--white);
}

.articles {
    margin-bottom: 40px;
}

.articles ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.articles ul li {
    list-style-type: none;
    color: #666666;
    font-size: 14px;
    border-right: 1px solid #666666;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}

.articles ul li:last-child {
    border: none;
    padding-right: 0px;
}

.articles ul li::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #666666;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width 0.5s;
}

.articles ul li:hover::after {
    width: 95%;
}

@media(max-width: 1600px) {
    .games_title {
        width: 220px;
    }

    .games_left {
        gap: 10px;
    }

    .promotions .bonuses img{
        width: 320px;
    }
}